.animation-screen {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../img/scene.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;

  @include retina {
    background-image: url("../img/scene@2x.png");
  }

  @media (orientation: portrait) {
    background-image: url("../img/scene-mob.png");

    @include retina {
      background-image: url("../img/scene-mob@2x.png");
    }
  }
}

.bg-animation-screen {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #5f458c;

  &.animate {
    height: 100%;
    transition: height 0.5s ease-in 0s;
    z-index: 8;
  }
}

.text__word {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 0.2em;
}

.text__word > span {
  display: inline-block;
  vertical-align: top;
  transform: translate3d(0, 1.3em, 0);
}

.screen--hidden .animate_words .text__word > span {
  transition: none !important;
  transform: translate3d(0, 1.3em, 0);
}

.screen.active .animate_words .text__word > span {
  transform: translate3d(0, 0, 0);
}
